@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --blue: #0070d2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 14px;
}

nav {
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 12px 32px;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.navTitle,
.navName {
  color: white;
}

svg {
  fill: white;
}

.container {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}

.container > section {
  display: flex;
  flex-direction: column;
  width: 90%;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th {
  background-color: var(--blue);
  text-align: left;
  padding: 12px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: white;
}

td {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

td:hover {
  background-color: #e0e0e0;
}

.buttonContainer {
  display: flex;
  justify-content: end;
}

.primaryButton {
  display: inline-block;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 8rem;
}

.primaryButton:hover {
  filter: brightness(0.96);
}
